@charset "utf-8";
@import url("../font/pretendard.css");

.btn{font-size:0.875rem;min-height:40px;min-width:80px}
.bg-gradient-dark{ background-color: #2b2b2b;background-image: linear-gradient(180deg, #2b2b2b 10%, #2b2b2b 100%);
background-size: cover;}
.navbar.topbar .btn{min-width:40px;}
.sidebar .sidebar-brand{height:auto;padding:2rem 1rem 1rem 1rem}
.sidebar .sidebar-brand-text{font-weight:bold;font-size:1.25rem;}
.sidebar .nav-item .nav-link span{font-weight:500;}
.card-header h6{font-size:1.25rem;}
.card-header-btn{display:flex;align-items:center;justify-content:space-between;}

.dataTables_wrapper{padding:0.2rem}
.table-admin-style thead tr th{border-bottom-width:1px;padding:0.75rem 0.5rem}
.table-admin-style thead tr th{border-right:1px solid #e3e6f0;background:#f4f4f4;color:#222;font-weight:500;}
.table-admin-style thead tr th:last-child{border-right:0;}
.table-admin-style{border-bottom:1px solid #e3e6f0;}
.table-admin-style tbody tr td{border-right:1px solid #e3e6f0;color:#222;}
.table-admin-style thead tr th:last-child{border-right:0;}
.table-admin-style tr th, .table-admin-style tr td{text-align:center;padding:0.5rem 1rem;vertical-align:middle;}
.table-admin-style .title span{display:block;max-width:780px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align:left!important;}
.table-admin-style .btn{width:100%;}
.sorting-style table.dataTable>thead>tr>th:not(.sorting_disabled), 
.sorting-style table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 0.75rem;
}
.sorting-style table.dataTable>thead .sorting:before, 
.sorting-style table.dataTable>thead .sorting:after,
.sorting-style table.dataTable>thead .sorting_asc:before,
.sorting-style table.dataTable>thead .sorting_asc:after,
.sorting-style table.dataTable>thead .sorting_desc:before,
.sorting-style table.dataTable>thead .sorting_desc:after, 
.sorting-style table.dataTable>thead .sorting_asc_disabled:before, 
.sorting-style table.dataTable>thead .sorting_asc_disabled:after, 
.sorting-style table.dataTable>thead .sorting_desc_disabled:before, 
.sorting-style table.dataTable>thead .sorting_desc_disabled:after{
   bottom:0.7rem
}

.page-item.active .page-link {z-index: 3;color: #fff;background-color: #003b8e;border-color: #003b8e;}
.admin-login{max-width:600px}

.bs-floating-select {position: relative;}
.bs-floating-select select.form-select {padding:.75rem 2.25rem .375rem .75rem;/* label 공간 확보 */}
.bs-floating-select label {position: absolute;top: 12px;left: 12px;font-size: 14px;background-color: white;padding: 0 4px;pointer-events: none;transition: all 0.2s ease;}
.bs-floating-select select:focus + label,
.bs-floating-select select:not([value=""]):valid + label {top: -7px;left: 10px;font-size: 11px;color: #2f353a;font-weight:400;}

.btn-wrap{display:flex;}
.btn-wrap .btn + .btn{margin-left:10px}

.asf-admin .sidebar-dark .nav-item .nav-link{padding:0.75rem 1rem}
.asf-admin .sidebar .sidebar-brand{width:100%;text-align:center;}
.form-group-search .btn{min-width:80px;}
.asf-admin table.dataTable{margin:0px!important}
.table-header{padding:0.5rem;display:flex;align-items:flex-end;justify-content:space-between;}
.table-header .total{color:#2f353a}
.table-footer{background:#f4f4f4;padding:1rem}
.paginate_button.page-item .page-link{width:40px;height:40px;padding:0;display:flex;align-items:center;justify-content:center;color:#333}
.paginate_button.page-item.active .page-link{color:#fff}
.paginate_button.page-item.previous .page-link,
.paginate_button.page-item.next .page-link{width:auto;height:40px;padding:0 1rem}
.paginate_button.page-item.disabled .page-link{color:#999!important}
.card-body-search{padding:0 0.75rem}
.card-body-search .form-group{margin-bottom:0;}
.asf-admin .form-label{font-weight:500;color:#333;margin-bottom:0.35rem}

.board-wrap .tab-menu{display:flex;gap:0.5rem}
.board-wrap .card-header.board-tab-menu{padding:0;}
.board-wrap .tab-menu li a{display:inline-block;color:#00479d;font-size:1.125rem;font-weight:700;padding:.75rem 1.25rem;border-radius:calc(.35rem - 1px) calc(.35rem - 1px) 0 0;}
.board-wrap .tab-menu li.active a{color:#fff!important;background:#00479d;}

.board-wrap .tab-content .tab-pane{display:none}
.board-wrap .tab-content .tab-pane.active{display:block}


/*게시판*/
.board-wrap{position: relative;}
.board-wrap .btn-wrap{justify-content:center;}
.board-wrap .btn-wrap .btn{min-width:120px;font-size:1rem;min-height:45px;font-weight:500;}
.board-admin-btn{position: absolute;right:10px;top:-60px;}
.board-list table{min-width:1200px}
.board-list .table {display: table;table-layout:auto;width: 100%;border-top: 2px solid #333;border-collapse: separate;border-collapse: collapse;}
.board-list .table th {background-color: #f4f4f4;border-bottom: 1px solid #dddddd!important;font-weight: 500;}
.board-list .table td {border-bottom: 1px solid #dddddd;}
.board-list .table th:first-child, .board-list .table td:first-child{border-left:0;}
.board-list .table th, .board-list .table td {min-height:60px;;padding:0.85rem 1.5rem;vertical-align: middle;word-wrap: break-word;word-break: keep-all;text-align:center;}
.board-list .title{text-align:left!important;}
.board-list .title a{max-width:700px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;font-weight:400;}
.board-list .title a:hover{color:#333;text-decoration: underline;}
.board-list .title .badge{margin-right:10px;vertical-align: text-top;min-width: 50px;}
.board-list .title svg{margin-right:10px}
.new{font-size:0.75rem;font-weight:bold;color:#00479d;margin-left:6px}

.board-list.board-list-download .title a{max-width:600px}
.board-list.board-list-download .download-btn a{font-size:0.875rem;padding:0;min-height:30px}
.board-wrap .pagination{margin:2rem 0;justify-content:center;}
.board-wrap .pagination .page-link{color:#222222;width:45px;height:45px;display:flex;align-items:center;justify-content:center;} 
.board-wrap .pagination .page-item.active .page-link{background:#00479d;border-color:#00479d;color:#ffffff;}

.board-view, .board-write{}
.board-view .ti{font-size:1.8rem}
.board-view .info{margin-top:1rem}
.board-view .info .user{display:flex;flex-wrap: wrap;border-bottom:1px solid #ddd;padding-bottom:1rem}
.board-view .info .user b{margin-right:6px}
.board-view .info .user p::after{content:'';display:inline-block;width:1px;height:12px;background:#acacac;margin:0 0.8rem}
.board-view .info .user p:last-child::after{display:none;}
.board-view .info .file{background:#f4f4f4;padding:1rem}
.board-view .info .file b{color:#555;margin-right:10px}
.board-view .info .file a:hover{color:#333;text-decoration:underline;}
.board-view-content{margin:2rem 0 0 0;padding:0 1rem 2rem 0;border-bottom:1px solid #ddd;}
.board-view-footer{padding:1rem 0 0.5rem 0;}

.required-input{position: relative;}
.required-mark{color:#cd1125;position: absolute;right:6px;top:2px;z-index:11;font-size:1rem}


@media (min-width: 576px) {
    .topbar .dropdown .dropdown-menu {
        width: auto;
        right:auto;
        left:0;
        z-index: 9999;
    }
}

@media (max-width: 10240px) {
   .table-admin-style tbody tr td:first-child{min-width:80px}
    .table-admin-style tbody tr td{
      min-width:120px
    }
}