@charset "utf-8";
@import url("../font/pretendard.css");

.btn{font-size:0.875rem}
.bg-gradient-dark{ background-color: #2b2b2b;background-image: linear-gradient(180deg, #2b2b2b 10%, #2b2b2b 100%);
background-size: cover;}
.sidebar .sidebar-brand{height:auto;padding:2rem 1rem 1rem 1rem}
.sidebar .sidebar-brand-text{font-weight:bold;font-size:1.25rem;}
.sidebar .nav-item .nav-link span{font-weight:500;}
.card-header h6{font-size:1.25rem;}
.card-header-btn{display:flex;align-items:center;justify-content:space-between;}

.dataTables_wrapper{padding:0.2rem}
.table-admin-style thead tr th{border-bottom-width:1px;padding:0.75rem 0.5rem}
.table-admin-style thead tr th{border-right:1px solid #e3e6f0;background:#f4f4f4;color:#222;font-weight:500;}
.table-admin-style thead tr th:last-child{border-right:0;}
.table-admin-style{border-bottom:1px solid #e3e6f0;}
.table-admin-style tbody tr td{border-right:1px solid #e3e6f0;color:#222;}
.table-admin-style thead tr th:last-child{border-right:0;}
.table-admin-style tr th, .table-admin-style tr td{text-align:center;padding:0.5rem 1rem;vertical-align:middle;}
.table-admin-style .title span{display:block;max-width:780px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align:left!important;}
.table-admin-style .btn{width:100%;}
.sorting-style table.dataTable>thead>tr>th:not(.sorting_disabled), 
.sorting-style table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 0.75rem;
}
.sorting-style table.dataTable>thead .sorting:before, 
.sorting-style table.dataTable>thead .sorting:after,
.sorting-style table.dataTable>thead .sorting_asc:before,
.sorting-style table.dataTable>thead .sorting_asc:after,
.sorting-style table.dataTable>thead .sorting_desc:before,
.sorting-style table.dataTable>thead .sorting_desc:after, 
.sorting-style table.dataTable>thead .sorting_asc_disabled:before, 
.sorting-style table.dataTable>thead .sorting_asc_disabled:after, 
.sorting-style table.dataTable>thead .sorting_desc_disabled:before, 
.sorting-style table.dataTable>thead .sorting_desc_disabled:after{
   bottom:0.7rem
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #003b8e;
    border-color: #003b8e;
}

.admin-login{max-width:600px}

@media (min-width: 576px) {
    .topbar .dropdown .dropdown-menu {
        width: auto;
        right:auto;
        left:0;
        z-index: 9999;
    }
}

@media (max-width: 10240px) {
   .table-admin-style tbody tr td:first-child{min-width:80px}
    .table-admin-style tbody tr td{
      min-width:120px
    }
}