@charset "utf-8";
@import url("../font/pretendard.css");

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;line-height:75px;background:#21272e;color:#fff;font-size:1.5em;font-weight:bold;text-align:center;}


/*header*/
.mo_hd{display:none}
#hd {z-index:1000;position:fixed; top:0; overflow:hidden; transition:0.6s ease; -webkit-transition:0.6s ease;}
#hd:hover{background:#fff;}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.logo_wrap{display:flex;align-items:center;}
.logo_wrap span{width:1px;height:36px;background:rgba(255, 255, 255, 0.5);display:inline-block;margin:0 20px;}
.cju_logo{width:170px;}
.asf_logo{width:250px;}
.logo_wrap img{width:100%;}
#hd_wrapper{display:flex;justify-content: space-around;padding:0 14px;}

/*header on*/
#hd h1 .logo_wrap{padding:20px 0}
#hd h1 .logo_wrap.bk{display:none;}
#hd.on{border-bottom:1px solid #ddd}
#hd.on h1 .logo_wrap.wh{display:none}
#hd.on h1 .logo_wrap.bk{display:flex}
#hd.on h1 .logo_wrap.bk span{background:rgba(0, 0, 0, 0.5)}
#hd.on{background:#fff;}
#hd.on a{color:#222;}

/* gnb */
#gnb{position:relative;}
#gnb h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_wrap{margin:0 auto;position:relative}
#gnb #gnb_1dul {font-size:1.083em;zoom:1;display:flex;margin-bottom:0;}
#gnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb .gnb_1dli{position:relative;flex: 1;min-width:200px;line-height:110px;}
#gnb .gnb_1dli.community{min-width:160px;}
#gnb .gnb_1dli.support{padding-left:20px}

.gnb_1dli .bg{display:none;width:10px;height:10px;overflow:hidden;background:url(../img/gnb_bg2.gif) no-repeat 50% 50%;text-indent:-999px}
.gnb_1da {display:inline-block;font-weight:700;color:#fff;text-decoration:none; font-size:1.25rem;}
.gnb_2dli{line-height:1.5; padding:10px 0; font-size:1.125rem; font-weight:400;}
.gnb_2dli:first-child{border:0;padding-top:0;}
.gnb_2dul {display:block;padding: 0; height:0; overflow:hidden;}
.gnb_2da {color:#222;text-align:left;text-decoration:none}

#gnb .gnb_menu_btn{background:#4158d1;color:#fff;width:50px;height:50px;border:0;vertical-align:top;font-size:1.125rem}
#gnb .gnb_close_btn{background:#4158d1;color:#fff;width:50px;height:50px;border:0;vertical-align:top;font-size:1.125rem;position:absolute;top:-50px;left:0}
#gnb .gnb_mnal{padding:0}

.mg_box{display:none;}
.mg_box.on{display:block;}

/*common*/
body{overflow-x:hidden;}
h1, h2, h3, h4, h5, h6{margin-bottom:0;}
.wrap{position: relative;min-height:calc(100vh - 250px)}
.sub.wrap>.container{padding-top:120px;padding-bottom:120px;min-height: 100%;}
.sub.wrap>.container-fluid{padding-top:120px;min-height: 100%;}
.inner{max-width:1400px;margin:0px auto;padding:0 14px}
.toggle-btn{position: relative;cursor:pointer;}
.toggle-btn::before{content:'';display:block;background:url('../img/ic_arrow_right2.svg');width:20px;height:20px;position:absolute;right:4px;transform:rotate(90deg);-webkit-transition:0.3s;transition:0.3s;}
.toggle-btn.on::before{transform:rotate(0deg);}
.dropdown-content {max-height:0;overflow: hidden;}
.dropdown-content.on {max-height:120px;overflow-y:scroll;background:#f2f2f2;color:#797979;font-size:0.875rem;display:flex;flex-direction:column;padding:14px;border-radius:6px;margin-top:10px}
.dropdown-content a + a{margin-top:4px}
.img_responsive{max-width:100%;height:auto;}
.contents{padding:0 0.2rem;margin:4rem auto;}
.table-st {display: table;table-layout: fixed;width: 100%;border-top: 2px solid #001f45;border-collapse: separate;border-collapse: collapse;}
.table-st td {border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;vertical-align: middle;word-wrap: break-word;word-break: keep-all;color: #202020;background: #fff;}
.table-st th {background-color: #f4f4f4;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;color: #333;font-weight: 500;vertical-align: middle;}
.table-st th, .table-st td {padding:1rem;}
.table-st th:first-child, .table_st td:first-child {border-left: none;}
b{font-weight:600;}

/*tab*/
.tabnav{display:flex;border-bottom:1px solid #ddd;}
.tabnav li a{display:inline-block;min-width:200px;text-align:center;padding:12px 20px;border-right:1px solid #ddd;}
.tabnav li a.active{background:#ddd;border-color:#ddd;font-weight:700}
.tabnav li:first-child a{border-top-left-radius:8px;}
.tabcontent{border:1px solid #fff;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}

/*main*/
.main_bn{position: relative;}
.main_bn .swiper-wrapper{height:700px;position: relative;}
.main_bn .swiper-slide{display:flex;align-items:center;justify-content:center;}
/* .main_bn .mb01{height:100%;background:url('../img/mb01.png') no-repeat;background-size:cover} */
.main_bn .mb01{height:100%;background:url('../img/main05.png') no-repeat;background-size:cover;background-position:50% 50%;}
.main_bn .mb02{height:100%;background:url('../img/main01.png') no-repeat;background-size:cover;background-position:50% 60%;}
.main_bn .mb03{height:100%;background:url('../img/main02.png') no-repeat;background-size:cover;background-position:50% 36%;}
.main_bn .mb04{height:100%;background:url('../img/main03.png') no-repeat;background-size:cover;background-position:50% 40%;}
.main_bn .mb05{height:100%;background:url('../img/main04.png') no-repeat;background-size:cover;background-position:50% 40%;}
.main_bn .mb_txt *{font-family: 'Gmarket Sans', sans-serif;text-shadow:#333 2px 2px 5px;}
.main_bn .mb_txt{text-align:center;}
.main_bn .mb_txt p{font-size:1.25rem;color:rgba(255, 255, 255, 0.9);font-weight:500;margin-bottom:1rem}
.main_bn .mb_txt strong{font-size:2.75rem;color:rgba(255, 255, 255, 0.9);font-weight:600;line-height: 1.4;}
.main_bn .swiper-button-next, .main_bn .swiper-button-prev{color:rgba(255, 255, 255, 0.9)}
.main_bn .swiper-button-prev{left:20px}
.main_bn .swiper-button-next{right:20px;}
.main_bn .swiper-pagination-bullet{border-radius:0;width:60px;height:4px;background:#fff;}

/*main contents*/
.post_box{border:1px solid #ddd;width:100%;}
.post_box .post{padding:14px}
.post_box .ti{display:block;max-width:280px;font-size:1rem;font-weight:600;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.post_box .date{display:block;font-size:0.875rem;color:#888888;}
.post_box .txt {margin-top:20px;font-size:0.875rem;line-height:1.3em;max-height: calc(1.3em * 2);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;}

.contents_ti{font-family: 'Gmarket Sans', sans-serif;font-weight:bold;display:flex;align-items:flex-end;margin-bottom:1rem}
.contents_ti .bar{display:inline-block;width:5px;height:25px;background:#00469C;margin-right:10px}
.notice_ti{display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #acacac;padding-bottom:0.5rem}
.notice_ti h6{font-weight:500;}
.notic_list{padding-top:0.5rem}
.notic_list li{padding:5px 0;}
.notic_list li a{display:flex;justify-content: space-between;}
.notic_list li a span{display:inline-block;font-size:0.875rem}
.notic_list li a .ti{max-width:280px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.gallery .post_box{border:0;}
.gallery .post_box .post{padding:0}
.gallery .row + .row{margin-top:0.5rem}

/* .main-link{margin-top:0;} */
.main-link div[class*="col-"]{padding:0;overflow: hidden;}
.main-link a{min-height:300px;display:flex;align-items:center;justify-content:center;width:100%;height:100%;position: relative;}
.main-link a span{position:absolute;bottom:36px;font-size:1.25rem;font-weight:500;text-align: center;line-height:1.4}
.main-link a:hover{transform: scale(1.05);transition: 0.3s;}
.main-link .link01{background:url('../img/link01.png')#f4f4f4 no-repeat;background-size:70%;background-position:50% 10%;}
.main-link .link02{background:url('../img/link02.png') #00469C no-repeat;background-size:70%;background-position:50% 10%;}
.main-link .link03{background:url('../img/link03.png') #f4f4f4 no-repeat;background-size:70%;background-position:50% 10%;}
.main-link .link04{background:url('../img/link04.png') #00469C no-repeat;background-size:70%;background-position:50% 10%;}
.main-link div[class*="col-"]:nth-child(2n) span{color:#fff}


/*sub*/
.sub_ti{margin:4rem 0 2rem 0;}
.sub_ti h3{display:inline-block;font-size:2rem;font-weight:bold;position: relative;z-index:2;}
.sub_ti h3::before{content:'';display:block;width:18px;height:18px;border-radius:50px;background:rgba(0, 70, 156, 0.5);position:absolute;right:-26px;bottom:15px}
.sub_ti h3::after{content:'';display:block;width:30px;height:30px;border-radius:50px;background:rgba(0, 70, 156, 0.2);position:absolute;right:-22px;bottom:0px}

/*footer*/
footer{position:relative;bottom:0;width:100%}
#ft{background:#9e9e9e;padding:3rem 2rem}
#ft_wrapper{ max-width: 1170px;margin:0px auto;}
.ft_link{display:flex;align-items:center;}
.ft_link>a{margin-right:3rem}
.ft_link ul{display:flex;}
.ft_link ul li a{color:#fff;padding:0.5rem 1.2rem}
.ft_info{margin-top:2rem;padding:0 1rem}
.ft_info span{color:rgba(255, 255, 255, 0.9);display:block;font-size:0.875rem;line-height:1.5;}
.ft_info .name{font-size:1rem;font-weight:500}

/*인사말*/
.greetings .big{font-size:1.8rem;color:#001f45;font-weight:600;text-align:center;font-family: 'Gmarket Sans', sans-serif;}
.greetings .text{font-size:1.125rem;word-break: keep-all;line-height: 1.8;}
.greetings .text b{font-weight:600}
.etc-line{display:block;width:1px;height:30px;background:#00469C;margin:1rem auto 0 auto;padding:0;}

/*사업개요*/
.business .table-st th{text-align:center;border-right:1px solid #ddd;background-color:rgba(136, 190, 255, 0.1);}
.business .table-st th, .business .table-st td{padding:1.2rem 1.5rem}
.business .table-st dl dt {position: relative;padding-left:16px;font-weight:500;}
.business .table-st dl dt::before{content:'';display:block;width:8px;height:8px;background:#e47d16;transform: rotate(45deg);position:absolute;left:0;top:8px}
.business .table-st dl dd{position: relative;padding-left:28px;margin-top:0!important;color:#555}
.business .table-st dl dd::before{content:'';display:block;width:5px;height:1px;background:#555;position:absolute;left:18px;top:13px}
.business .table-st dl dd, .business .table-st dl dt{margin-top:0.5rem;line-height:1.7}
.business .table-st dl dd span{display:block;color:#777;line-height:1.5;font-size:0.875rem}
.business .table-st .future ul li span{display:inline-block;background:#00469C;color:#fff;border-radius:2rem;padding:2px 12px;
font-size:0.875rem;font-weight:600;margin-right:8px;max-width:72px;text-align: center;}
.business .table-st .future ul li + li{margin-top:0.5rem}

/*조직도*/
.org-chart{text-align:center;}
.org-chart p{margin:4rem 0 2rem 0;line-height:1.5}

/*협력기관 및 산업체*/

/* .partner-box ul{width:100%; margin:0 auto;}
.partner-box ul::after{display:block; content:""; clear:both;}
.partner-box ul li{position:relative; float:left; width:25%; border:1px solid #ddd; box-sizing:border-box; margin:-1px 0 0 -1px; transition:0.5s ease; -webkit-transition:0.5s ease;}
.partner-box ul li:hover{box-shadow:0px 0px 50px rgba(0,0,0,0.3); z-index:10;}
.partner-box ul li img{max-width:100%;}
.partner-box ul li a{display:flex;width:100%;height:100%;text-align: center;align-items: center;justify-content: center;}
.partner-box + .partner-box{margin-top:80px;} */

.partner-box ul{width:100%; margin:0 auto;}
.partner-box ul li img{max-width:100%;}
.partner-box ul::after{display:block; content:""; clear:both;}
.partner{ position:relative; float:left; width:25%; border:1px solid #ddd; box-sizing:border-box; margin:-1px 0 0 -1px; transition:0.5s ease; -webkit-transition:0.5s ease;}
.partner a{display:flex;width:100%;height:100%;text-align: center;align-items: center;justify-content: center;}
.partner::before, .partner::after{content:"";width: 0;height: 2px;position: absolute;transition: all 0.2s linear;background:#00469C;} 
.partner a::before, .partner a::after{content:"";width:2px;height:0;position: absolute;transition: all 0.2s linear;background: #00469C;}
.partner:hover::before, .partner:hover::after{width: 100%;}
.partner:hover a::before, .partner:hover a::after{height: 100%;}
.partner::before, .partner::after{transition-delay: 0.2s;}
.partner a::before, .partner a::after{transition-delay: 0s;}
.partner::before{right: 0;top: 0;}
.partner::after{left: 0;bottom: 0;}
.partner a::before{left: 0; top: 0;}
.partner a::after{right: 0;bottom: 0;}
.partner:hover::before, .partner:hover::after{ transition-delay: 0s;}
.partner:hover a::before, .partner:hover a::after{transition-delay: 0.2s;}

/*오시는 길*/
.map-ti {background: #f9f9f9;padding: 10px 10px 10px 10px;border: 1px solid #dfdfdf;}
.map-ti svg{color:#00469C;margin-right:4px}
.map-ti span{font-weight:500;}
.map-ti span + span{margin-left:1rem}
.map .root_daum_roughmap{width:100%}
.map .wrap_controllers{display:none}

.traffic{padding-top:40px;}
.traffic ul li{padding:40px 0;border-top:1px dotted #ddd;}
.traffic ul li div{padding-left:160px;}
.traffic_title{display:block;color:#00469C;font-weight:600;font-size:1.125rem;}
.traffic .list01{background:url('../img/map01.png');background-repeat: no-repeat;background-position: 2% 50%;background-size:100px;}
.traffic .list02{background:url('../img/map02.png');background-repeat: no-repeat; background-position: 2% 50%; background-size:100px;}
.traffic .list03{background:url('../img/map03.png');background-repeat: no-repeat;background-position: 2% 50%;background-size:100px;}
.start{display:block;color:#3282cc;font-weight:500;margin-top:1.2rem;margin-bottom:4px}
.start::before {content: '';display: inline-block;width: 4px;height: 4px;background-color: #3282cc;transform: rotate(45deg);margin-right: 5px;position: relative;top: -3px;}
.traffic .link a{display:inline;text-decoration:underline;color:#3282cc}
.traffic .link b{font-weight:500;margin-left:10px}

/*이수조건*/
.line-ti{margin:0px auto;max-width:500px;font-size:1.25rem;font-weight:600;text-align:center;border:5px solid rgba(0, 70, 156, 0.2);padding:0.5rem}
.condition .line-ti{margin-bottom:2rem}
.condition table{text-align:center;width:100%;line-height:1.2;}
.condition table tr td span{line-height:1.5}
.reference-text{margin-top:10px;font-weight:500;color:#00469C}

/*교육과정 및 신청*/
.curriculum{background:url('../img/curriculum.png') no-repeat 100% 100%;}
.curriculum .box + .box{margin-top:2rem}
.curriculum .box h6{font-size:1.25rem;font-weight:500;margin-bottom:1rem}
.curriculum .box p{padding-left:1rem;margin:0.2rem 0;font-size:1.125rem}
.curriculum .box p span{display:block;padding-left:1rem;font-size:1rem;margin:4px 0;}

.etc{font-size:1.125rem;line-height:1.8}

/*로그인*/
.sub_ti.center_ti{text-align:center;}
.sub_ti.center_ti h3::before, .sub_ti.center_ti h3::after{display:none}
.login-form{max-width:500px;margin:0px auto}
.login-form .btn{width:100%;margin-top:1rem}
.login-form input + input{margin-top:1rem}


@media screen and (min-width:1400px){

}

@media screen and (min-width:1200px){
    #hd{width:100%}
    #hd:hover .gnb_1da{color:#222 !important}
    #hd:hover #logo a{color:#222 !important}
}

@media screen and (max-width:1399px){
    #hd{width:100%}
    #hd{background:none !important; border:none !important;}
    #hd{display:none;}
    .mo_hd {display: block;position: absolute;top: 0;left: 0;width: 100%;height:90px}
    .mo_hd .logo_wrap{position:absolute;z-index: 2;top:20px;left:10px}
    .mo_hd .cju_logo{width:120px;}
    .mo_hd .asf_logo{width:200px;}

    .mg_box{width:100%; overflow:hidden; position:absolute; top:0; right:0; z-index:9;}
    .mg_box.on{z-index:9999;}
    .m_gnb{position:absolute; top:0; right:-100%; width:100%; z-index:9; transition:0.3s ease; -webkit-transition:0.3s ease;}
    .m_gnb.on{z-index:9999; right:0;}
    div.mg_btn{position:absolute; top:24px; right:10px; z-index:99999;
    transition:0.5s ease; -webkit-transition:0.5s ease; -o-transition:0.5s ease;
    transition-delay:0.3s; -webkit-transition-delay:0.3s; -o-transition-delay:0.3s;
    }
    div.mg_btn span{display:block; width:32px; height:2px; margin:8px; background:#fff; transition:0.5s ease; -webkit-transition:0.5s ease;}
    div.mg_btn.on span{margin:10px;}
    div.mg_btn.on{transform:rotate(45deg);}
    div.mg_btn.on span{width:0px; height:2px; background:#000;}
    div.mg_btn.on span:first-child{width:42px; transform:translateY(12px)}
    div.mg_btn.on span:last-child{width:42px; transform:translateY(-12px) rotate(90deg);}
    .m_gnb div.mg_wrap{width:500px; background:#fff;}
    .m_gnb div.mg_wrap.on{position:Absolute; right:0; z-index:999;}
    .m_gnb div.mg_wrap>ul{padding:100px;height: 100vh;}
    .m_gnb div.mg_wrap>ul>li{padding:5px 0;}
    .m_gnb div.mg_wrap>ul>li>a{font-size:26px; font-weight:900; color:#444;}
    .m_gnb div.mg_wrap>ul>li>ul{display:none;padding:10px 0;height:auto!important}
    .m_gnb div.mg_wrap>ul>li>ul>li{padding:5px 0;}
    .m_gnb div.mg_wrap>ul>li>ul>li>a{font-size:1.25rem;}
    .m_gnb div.mg_bk{display:none; width:100%; height:100vh; opacity:0; transition:0.5s ease; -webkit-transition:0.5s ease;}
    .m_gnb div.mg_bk.on{display:block; opacity:0.9;}
}

@media screen and (max-width:1170px){
    .post_wrap{flex-wrap: wrap;}
    .post_wrap li{flex:1 1 calc(50% - 15px);}
    .ft_link{flex-direction: column;align-items: flex-start;}
    .ft_link>a{margin-right:0;margin-bottom:1rem}
    .ft_link ul{flex-wrap: wrap;}
    .partner-box ul li { width: 33.333%;}
    .sub_ti{margin:2rem 0;}
    .business .table-st .future ul li span{display:block;}
    .curriculum{background-size:300px}
    .main-link a{min-height:220px}
}

@media screen and (max-width:767px){
    .m_gnb div.mg_wrap>ul{padding:80px 60px;}
    .m_gnb div.mg_wrap>ul>li{padding:5px 0;}
    .m_gnb div.mg_wrap>ul>li>a{font-size:1.25rem; font-weight:900; color:#444;}
    .m_gnb div.mg_wrap>ul>li>ul{display:none;padding:10px 0;height:auto;        }
    .m_gnb div.mg_wrap>ul>li>ul>li{padding:2px 0;}
    .m_gnb div.mg_wrap>ul>li>ul>li>a{font-size:1.125rem;}
    .m_gnb div.mg_bk.on{display:none;width:100%; height:100%; background:rgba(0, 0, 0, 0.9); opacity:0; transition:0.5s ease; -webkit-transition:0.5s ease;opacity:0.9;}
    .main_bn .swiper-wrapper{height:500px;}
    .main_bn .mb_txt strong{font-size:2rem}
    .main_bn .swiper-pagination-bullet{width:40px;height:4px}
    .sub_ti{margin:2rem 0;}
    .contents{padding:0 0.2rem;margin:2rem auto;}
    #ft{background:#9e9e9e;padding:3rem 1.2rem}
    .greetings .big{font-size:1.5rem}
    .main-link a{min-height:180px}
    .main-link a span{font-size:1rem;}
}


@media screen and (max-width:480px){
    .m_gnb div.mg_btn{position:absolute; top:20px; right:20px; z-index:11;
    transition:0.5s ease; -webkit-transition:0.5s ease; -o-transition:0.5s ease;
    transition-delay:0.3s; -webkit-transition-delay:0.3s; -o-transition-delay:0.3s;}
    .m_gnb div.mg_btn span{display:block; width:36px; height:2px; margin:8px; background:#fff; transition:0.5s ease; -webkit-transition:0.5s ease;}
    .m_gnb div.mg_btn.on{transform:rotate(45deg);}
    .m_gnb div.mg_btn.on span{width:0px; height:2px; background:#000;}
    .m_gnb div.mg_btn.on span:first-child{width:36px; transform:translateY(10px)}
    .m_gnb div.mg_btn.on span:last-child{width:36px; transform:translateY(-10px) rotate(90deg);}
    .m_gnb div.mg_wrap{position:absolute; width:280px; background:#fff; z-index:10; transition:0.5s ease; -webkit-transition:0.5s ease;}
    .m_gnb div.mg_wrap>ul{padding:70px 40px;}
    .m_gnb div.mg_wrap>ul>li>a{font-size:1.25rem; font-weight:900; color:#444;}
    .m_gnb div.mg_wrap>ul>li>ul>li>a{font-size:1.125rem;display:inline-block;width:100%;}
    .mo_hd .logo_wrap span{margin:0 10px}
    .mo_hd .cju_logo{width:100px;}
    .mo_hd .asf_logo{width:180px;}
    .main_bn .swiper-wrapper{height:400px;}
    .main_bn .mb_txt p{font-size:1rem}
    .main_bn .mb_txt strong{font-size:1.6rem}
    .main_bn .swiper-button-next:after, .main_bn .swiper-button-prev:after{font-size:20px;}
    .sub_ti h3{font-size:1.5rem}
    .partner-box ul li{width:50%}
    .map-ti span{display:block;}
    .map-ti span + span{margin-left:0;}
    .traffic{padding-top:20px}
    .traffic ul li{padding:20px 0}
    .traffic ul li div{padding-left:0;}
    .traffic .list01{background-image:none}
    .traffic .list02{background-image:none}
    .traffic .list03{background-image:none}
    .traffic_content > span{display:block}
    .traffic ul li div span{line-height:1.8}
    .curriculum{background-image:none;}
    .main-link a{min-height:120px}
    .main-link a span{bottom:20px}
}